<div class="entry-box entry-show">
  <div class="Box-body border-0 markdown-body js-task-list-container">
    <div class="entry-body">
      <div class="mb-3">

        <a href="<%= current_article.url %>" class="Box-btn-octicon btn-octicon f4">
          <%= octicon "link", class: "mr-1 v-visible " %><%= current_article.data.occurred_at %>
        </a>
      </div>
      <% if current_article.title %>
        <h1><%= current_article.title %></h1>
      <% end %>
      <%= current_article.body %>
    </div>
  </div>
</div>
