---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each do |article| %>
  <div class="entry-box entry-show">
    <div class="Box-body border-0 markdown-body js-task-list-container">
      <div class="entry-body">
        <%= link_to article.data.identifier, article %>
        <% if article.title %>
          <h1><%= article.title %></h1>
        <% end %>
        <%= article.body %>
        <%# <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
